*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: ;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #FFF8F3;

  background-image: 
    url("./images/developer.png"),
    url("./images/header_bg.png");

  background-repeat: 
    no-repeat,
    no-repeat;

  background-position: 
    top left,
    bottom right;

  background-size: 
    contain,   /* developer.png size */
    800px auto;      /* header_bg.png size */

  padding-top: 30px;
}

nav{
    width: 71%;
    max-width: 1084px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo h2{
    font-size:45px;
    font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
    
}
nav .menu{
 display: flex;
 list-style-type: none;
 gap:48px;
 align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border:none;
    padding: 18px 35px;
    border-radius: 5px ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}



#banner .banner-content{
    max-width: 585px;
    margin: 47px 38px 0 230px;
    
}

#banner
{    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content h2{
 font-size:45px;
 font-weight: 600;
 color:#474747;
 margin-bottom: 5px;

}
#banner .banner-content h1{
 font-size:65px;
 font-weight: bold;
 color:#181818;
 margin-bottom: 20px;
}
#banner .banner-content p{
 font-size: 18px;
 color:#757575;
 line-height:25px;
 margin-bottom: 20px;

}

#about, #skills, #resume{
    padding-top: 90px;
}
#about .about-container{
    width: 71%;
    max-width:1084px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 100px 157px;
}
.section-heading{
    max-width:827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:#757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
 font-size: 20px;
    line-height: 30x;
    color:#757575;
   margin-bottom: 9px;

}
.about-info .info-card h4{
    font-size: 15px;
}

#skills .skills-container{
    width:71%;
    max-width: 1084px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    margin: 0 auto;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000001b;
}

.skill-box .skill-card img{
    max-width:44px;
    margin-bottom: 30px;
}

.skill-box .skill-card h3{
 font-size: 20px;
 font-weight:bold;
 color:#181818;
 margin-bottom: 20px;
}
.skill-box .skill-card p{
 font-size:16px;
 color:#474747;
 line-height:28px;

}

#resume .resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:71%;
    max-width: 1084px;
    margin: 50px auto;
    gap:24px;

}
.education{
    display: flex;
    gap:20px;
    padding-left: 10px;
}

.resume-container .section-title{
    color:#474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-left:24px;
    margin-right:24px;

}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #474747;
    height: 70px;
}
.card-info-upper{
    font-size: 20px;
    font-weight: 600;
    line-height:28px;
    color: #757575;
   
}
.card-info-lower{
    font-size: 20px;
    font-weight: 600;
    line-height:28px;
    margin-bottom: 20px;
    color: #757575;
   
}

.card-text{
    font-size: 16px;
    line-height:28px;
    color: #757575;
    height: 200px;
}
.resume-container hr{
 margin: 20px auto;
}